{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.jumbotron {
	background-color: #0e3d14;
	color: #fff;
}

{% endblock %}
</style>

{% block jumbotron %}
{% if not request.user.is_authenticated %}
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h1>Try Django 1.8</h1>
						<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
						<p><a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a></p>
					</div>
					<div class="col-sm-6" style="background-color: black;height: 300px;">
						
					</div>
				</div>
			</div>
		</div>
{% endif %}
{% endblock %}

{% block content %}
	{% if request.user.is_authenticated %}
		<h1>You're logged in!</h1>

		{% if queryset %}
			<h2>Welcome Staff</h2>
			<table class="table">
			{% for instance in queryset %}
				<tr><td>{{ forloop.counter }}</td><td>{{ instance }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }} ago</td></tr>
			{% endfor %}
			</table>
		{% endif %}

	{% else %}
		<div class="row">
			<div class="col-sm-3 pull-right">
				<p class="lead text-align-center">{{ title }}</p>
				<form method="POST" action="">
				{% csrf_token %}
				{{ form|crispy }}
					<input class="btn btn-primary" type="submit" value="Sing Up"/>
				</form>
			</div>

			<div class="col-sm-3 text-align-center">
				<p class="lead">Build with django &amp; bootstrap</p>
				<img src="{% static "img/django-channels-header.png" %}" alt="" class="img-responsive">
			</div>

			<div class="col-sm-3 text-align-center">
				<p class="lead">Created for starters of all kinds.</p>
				<img src="{% static "img/large_1402921794_sketch_wireframe_mockup.png" %}" alt="" class="img-responsive">
			</div>

			<div class="col-sm-3 text-align-center">
				<p class="lead">Always open source.</p>
				<img src="{% static "img/ux-staff.png" %}" alt="" class="img-responsive">
			</div>

		</div>
	{% endif %}
{% endblock %}